kagglehub==0.3.11
polars==1.27.1
grpcio==1.71.0
numpy==1.26.4
pandas==2.2.3
pyarrow==19.0.1
protobuf==3.20.3
defusedxml==0.7.1
keras==3.9.2
cairosvg==2.7.1
bitsandbytes==0.45.5
opencv-python==4.11.0.86
matplotlib==3.10.1
transformers==4.49.0
accelerate==1.6.0
openai==1.75.0
tqdm==4.67.1
python-dotenv==1.1.0
diffusers==0.33.1
safetensors==0.5.3
xformers==0.0.29.post1
unsloth==2025.3.19
tf_keras==2.19.0
vtracer==0.6.11
deepspeed==0.16.7
torch==2.5.1
torchvision==0.20.1
streamlit==1.44.1
lxml==5.3.2

# pip install 'tensorflow[and-cuda]'
# pip install git+https://github.com/openai/CLIP.git
# sudo apt-get update
# sudo apt-get install -y build-essential
